<div class="pokemon-details__container">
  <h4 class="pokemon-details__title">Nuevo Pokemon</h4>
  <form [formGroup]="newPokemonForm">
    <div class="row">
      <div class="column">
        <label>Nombre: </label>
        <input type="text" formControlName="name">
      </div>
      
      <div class="column">
        <label>Ataque</label>
        <div class="slidecontainer">
          <span>0</span>
          <input type="range" min="1" max="100" value="0" formControlName="attack">
          <span>100</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label>Imagen</label>
        <input type="text" formControlName="image">
      </div>
      
      <div class="column">
        <label>Defensa</label>
        <div class="slidecontainer">
          <span>0</span>
          <input type="range" min="1" max="100" value="0" formControlName="defense">
          <span>100</span>
        </div>
      </div>
    </div>

    <div class="form__actions">
      <button class="form__save-button pointer" (click)="addPokemon()">
        <i class="material-icons">
          save
        </i>
        Guardar
      </button>
      <button class="form__cancel-button pointer" (click)="cancel()">
        <i class="material-icons">
          close
        </i>
        Cancelar
      </button>
    </div>
  </form>
</div>
