<div class="pokemon-details__container">
  <h4 class="pokemon-details__title">Nuevo Pokemon</h4>
  <form [formGroup]="newPokemonForm">
    <div class="row">
      <div class="column">
        <div class="pokemon-details__col">
          <label>Nombre: </label>
          <input type="text" formControlName="name">
        </div>
      </div>
      <div class="column">
        <div class="pokemon-details__col">
          <label>Ataque: </label>
          <span class="slidecontainer">
            <span>0</span>
            <input type="range" min="1" max="100" value="0" formControlName="attack">
            <span>100</span>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="pokemon-details__col">
          <label>Imagen: </label>
          <input type="text" formControlName="image">
        </div>
      </div>
      <div class="column">
        <div class="pokemon-details__col">
          <label>Defensa: </label>
          <span class="slidecontainer">
            <span>0</span>
            <input type="range" min="1" max="100" value="0" formControlName="defense">
            <span>100</span>
          </span>
        </div>
      </div>
    </div>
    <div class="form__actions">
      <button class="form__save-button pointer" (click)="addPokemon()">
        <i class="material-icons form__button-icon">
          save
        </i>
        Guardar
      </button>
      <button class="form__cancel-button pointer" (click)="cancel()">
        <i class="material-icons form__button-icon">
          close
        </i>
        Cancelar
      </button>
    </div>
  </form>
</div>
