<nav class="header">
  <i class="material-icons header__icon">
    circle
  </i>
  <i class="material-icons header__icon">
    circle
  </i>
  <i class="material-icons header__icon">
    circle
  </i>
</nav>
<div class="home">
  <h4>Listado de Pokemon</h4>
  <div class="home__actions">
    <div class="home__input-search">
      <button type="submit" class="home__input-search__icon-container">
        <i class="material-icons home__input-search__icon">search</i>
      </button>
      <input type="text" class="home__input-search__input" placeholder="Buscar">
    </div>
    <button class="home__button pointer" (click)="addNewPokemon()">
      <i class="material-icons home__button__icon">
        add
      </i>
      Nuevo
    </button>
  </div>
  <div class="home__grid">
    <table>
      <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Ataque</th>
        <th>Defensa</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let pokemon of pokemons">
        <td>{{ pokemon.name }}</td>
        <td><img src="{{ pokemon.image }}" height="100" width="100" alt="pokemon-image"></td>
        <td>{{ pokemon.attack }}</td>
        <td>{{ pokemon.defense }}</td>
        <td>
          <i class="material-icons pointer" (click)="editPokemon(pokemon)">
            edit
          </i>
          <i class="material-icons pointer" (click)="deletePokemon(pokemon.id)">
            delete
          </i>
        </td>
      </tr>
    </table>
  </div>

  <app-add-pokemon 
    *ngIf="showPokemonDetailsCard"
    (refreshPokemons)="getPokemons()"
    (cancelPokemonsDetails)="cancel()">
  </app-add-pokemon>
  <app-edit-pokemon
    *ngIf="showEditPoKemonCard"
    [pokemon]="pokemonToEdit"
    (refreshPokemons)="getPokemons()"
    (cancelEditPokemon)="cancel()">
  </app-edit-pokemon>
</div>
