.home {
  padding: 16px 32px 32px;
}

.home__actions {
  margin-bottom: 2rem;
  display: block;
  justify-content: space-between;
}

.home__input-search__icon-container {
  background-color: #fff;
  border-right: none;
  height: 31px;
  position: relative;
  top: 7px;
}

.home__input-search__input {
  border-left: none;
  height: 26px;
}

.home__button {
  background-color: #3457D5;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  margin-top: 1rem;
  padding-bottom: 8px;
  width: 9rem;
}

.home__button__icon {
  position: relative;
  top: 5px;
}

table {
  background-color: #fff;
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

@media (min-width: 576px) { 
  .home__actions {
    display: flex;
  }

  .home__button {
    margin-top: 0;
  }
 }